 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="https://www.linkedin.com/in/ryantaylor-itsm/" class="btn btn-lg btn-outline">
                        Connect on <i class="fa fa-linkedin-square"></i>
                    </a>
                    <p><div></div></p>
                </div>
                <div class="col-lg-12 text-center">
                    <p>I have over 15 years of experience leading Technical Operations teams with some of the most respected companies in streaming media, finance, and security technology. In 2021, I joined Transposit as Head of Product to provide thought leadership and strategy to build a product that fulfills the needs of our customers, employees, partners and rewards our stakeholders.</p>

                    <p>I am an Ex-Hulugan, Director of Production Operations. My teams maximized uptime/availability for our Live and Video on Demand products leveraging operators, a talented engineering team, and the analytical tools built by those teams.</p>
                </div>
                <div class="col-lg-12 text-center">
                    <p>I am a frequent speaker, consultant, and colleague to those in the technical operations field. As a leader, my goals focus on the opportunity to improve people, products, processes, and partnerships. In my experience, communication and shared goals have lowered the drawbridges of impenetrable castles. The resulting relationships and experiences have led my teams to create and operate some of the most efficient tech platforms.</p>

                    <p>Because experience is the best teacher, I founded AllTeamz, a family of web and mobile apps, six years ago. The experience enabled me to take on responsibilities I had little practical knowledge of previously. I was the product manager, system administrator, architect, development team, sales and marketing team, and the sole individual responsible for customer service. As a result of the successful side project, a top 20 paid sports app. I became a more well-rounded TechOps leader. The experience allowed me to understand business needs, the reliance on tools, data, support, and stability provided by the people we work with everyday.</p>
                </div>
            </div>
        </div>
    </section>
